<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/sean_sueno.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Head Coach: Sean Sueno
                            </div>
                            <div class="project-name">
                                Description about Sean Sueno.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/peter_ho.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coach: Peter Ho
                            </div>
                            <div class="project-name">
                                I’m attending University of Hawaii at Manoa. 
                                I am there to study Kinesiology and plan to go to graduate school to become a Physical Therapist. 
                                I have played tennis for 8 years now. 
                                My experience is playing high school tennis at Moanalua High and played first doubles for them also played a season of junior team tennis. 
                                I am also an assistant head coach at Roosevelt high. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/brandan_bersola.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coach: Brandan Bersola
                            </div>
                            <div class="project-name">
                                [Information about Brandan Bersola]
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
